@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #ffffff;
   --foreground: #171717;
   --header-height: 84px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

@layer base {
   h1 {
      @apply text-[40px] font-semibold;
   }

   h2 {
      @apply text-[32px] font-semibold;
   }

   h3 {
      @apply text-2xl font-bold;
   }

   p {
      @apply text-sm;
   }
}

.text-label {
   @apply text-xs font-medium;
}
.btn {
   @apply flex items-center bg-neutral-800 text-white-900  rounded-[4px] px-6 py-2 hover:opacity-70 transition;
}

.btn-outline {
   @apply px-4 py-1 border border-neutral-100 rounded-full flex items-center;
}

.loader {
   width: 20px;
   height: 20px;
   border: 2px solid #fff;
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
