@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #ffffff;
   --foreground: #171717;
   --header-height: 84px;
   --custom-ease: cubic-bezier(0.32, 0.72, 0, 1);
}

.background {
   background-image: url("/nnnoise.svg");
   transition: transform cubic-bezier(0.32, 0.72, 0, 1) 500ms;
   height: auto;
   opacity: 1;
}

.backdrop header {
   transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop.background {
   opacity: 0.8;
}

.noisy-background {
   background-image: url("/nnnoise.svg");
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   color: var(--foreground);
   background: var(--background);
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.loader {
   width: 20px;
   height: 20px;
   border: 2px solid #fff;
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

.loader-black {
   width: 18px;
   height: 18px;
   border: 2px solid #000;
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.transition-custom {
   transition-timing-function: linear(
      0 0%,
      0.2342 12.49%,
      0.4374 24.99%,
      0.6093 37.49%,
      0.6835 43.74%,
      0.7499 49.99%,
      0.8086 56.25%,
      0.8593 62.5%,
      0.9023 68.75%,
      0.9375 75%,
      0.9648 81.25%,
      0.9844 87.5%,
      0.9961 93.75%,
      1 100%
   );
}

.link_slide::after {
   content: " ";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 101%;
   height: 0.1em;
   background-color: black;
   opacity: 0;
   transition: opacity 300ms, transform 300ms;
}

.link_slide {
   overflow: hidden;
   position: relative;
   padding: 2px;
}
.link_slide::after {
   opacity: 1;
   transform: translateX(-100%);
}
.link_slide:hover::after {
   transform: translateX(0);
}

.active-border {
   width: 100%;
   height: 1px;
   background-color: #dd8560;
   position: relative;
}
.active-border::after {
   content: "";
   position: absolute;
   bottom: -2px;
   left: 50%;
   width: 6px;
   height: 6px;
   rotate: 45deg;
   background-color: #dd8560;
   opacity: 1;
   transition: opacity 300ms, transform 300ms;
}

.active-section {
   height: 1px;
   position: relative;
}

.active-section::after {
   content: "";
   position: absolute;
   bottom: -28px;
   left: 50%;
   width: 6px;
   height: 6px;
   rotate: 45deg;
   background-color: #dd8560;
   opacity: 1;
}

.title {
   font-size: 18px;
   letter-spacing: 4px;
   font-weight: regular;
   line-height: 40px;
}
.subtitle {
   font-size: 16px;
   letter-spacing: 2px;
   font-weight: regular;
   line-height: 24px;
}
.subtitle-2 {
   font-size: 14px;
   letter-spacing: 2px;
   font-weight: regular;
   line-height: 20px;
}
.body-1 {
   font-size: 16px;
   letter-spacing: 0px;
   line-height: 24px;
}
.body-m {
   font-size: 14px;
   letter-spacing: 0px;
   line-height: 24px;
}
.body-s {
   font-size: 12px;
   letter-spacing: 0px;
   line-height: 18px;
}

.test {
   position: relative;
   border: 1px solid black;
   content: " ";
   width: 6px;
   height: 6px;
   transform: translateX(-50%) rotate(45deg);
}

::-webkit-scrollbar {
   width: 6px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background: #dd8560;
}
::-webkit-scrollbar-thumb:hover {
   background: #a8715a;
}

.animate-opacity {
   animation: change-opacity 350s ease-in-out forwards;
}
@keyframes change-opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
